# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*$py.class
*.so

# Environnements virtuels
.venv/
env/
venv/

# ===============================
# Poetry
# ===============================
poetry.toml

# ===============================
# IDE
# ===============================
.idea/
.vscode/

# ===============================
# Jupyter
# ===============================
.ipynb_checkpoints/

# ===============================
# Données (gérées par DVC)
# ===============================
data/raw/*
data/processed/*
!data/**/*.dvc

# ===============================
# Modèles sauvegardés localement
# ===============================
models/

# ===============================
# MLflow tracking local
# ===============================
mlruns/

# ===============================
# CatBoost logs
# ===============================
catboost_info/

# ===============================
# Logs & fichiers temporaires
# ===============================
*.log
*.tmp
.DS_Store

# ===============================
# Images générées automatiquement
# ===============================
pred_vs_true_*.png

# ===============================
# Docker
# ===============================
*.env
