# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/

# Environnements
.venv
env/
venv/
.env

# IDE
.idea/
.vscode/
*.swp

# Données et modèles
data/consolidated/
data/processed/
data/enriched/
data/features/
*.xlsx
*.csv
models/
*.pkl
*.joblib

# MLflow et logs
mlruns/
mlflow.db
*.log
catboost_info/

# DVC
.dvc/tmp
.dvc/cache

# Temporaires
__pycache__/
*.pyc
tmp/
temp/data/raw/dumps/sql/*.sql
